<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  
  <xacro:macro name="robotiq_85_gripper_transmission" params="prefix=''">

    <ros2_control name="robotiq_85_gripper_control" type="system">
      <hardware>
        <class_type>ignition_ros2_control/IgnitionSystemInterface</class_type>
        <param name="update_rate">100</param>
      </hardware>

      <joint name="${prefix}robotiq_85_left_knuckle_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}robotiq_85_right_knuckle_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}robotiq_85_left_inner_knuckle_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}robotiq_85_right_inner_knuckle_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}robotiq_85_left_finger_tip_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}robotiq_85_right_finger_tip_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
